<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class='fas fa-gamepad' style='color:#fc5787'></i> <span class="nav-text">INFINITY STONE</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-badge menu-icon" href="./INF_STN_Winner.php"> ผู้ชนะ</a></li>
                    <li><a class="icon-speedometer menu-icon" href="./INF_STN_Team.php"> ทีมแข่งขัน</a></li>
                    <li><a class="icon-grid menu-icon" href="./INF_STN_Store.php"> ร้านค้า</a></li>
                    <li><a class="icon-note menu-icon" href="./INF_STN_Check.php"> ตรวจ</a></li>
                    <li><a class="icon-notebook menu-icon" href="./INF_STN_Rules.php"> กติกา</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class='fas fa-gamepad' style='color:#6f42c1'></i> <span class="nav-text">MEGA Project</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-badge menu-icon" href="./MEG_Pro_Winner.php"> ผู้ชนะ</a></li>
                    <li><a class="icon-speedometer menu-icon" href="./MEG_Pro_Team.php"> ทีมแข่งขัน</a></li>
                    <li><a class="icon-grid menu-icon" href="./MEG_Pro_Store.php"> ร้านค้า</a></li>
                    <li><a class="icon-note menu-icon" href="./MEG_Pro_Check.php"> ตรวจ</a></li>
                    <li><a class="icon-notebook menu-icon" href="./MEG_Pro_Rules.php"> กติกา</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class='fas fa-gamepad' style='color:#ec0c38'></i> <span class="nav-text">HAPPY SALMON</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-badge menu-icon" href="./HAP_SAL_Winner.php"> ผู้ชนะ</a></li>
                    <li><a class="icon-speedometer menu-icon" href="./HAP_SAL_Team.php"> ทีมแข่งขัน</a></li>
                    <li><a class="icon-grid menu-icon" href="./HAP_SAL_Store.php"> ร้านค้า</a></li>
                    <li><a class="icon-note menu-icon" href="./HAP_SAL_Check.php"> ตรวจ</a></li>
                    <li><a class="icon-notebook menu-icon" href="./HAP_SAL_Rules.php"> กติกา</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class='fas fa-gamepad' style='color:#6fd96f'></i> <span class="nav-text">คุณรักใคร</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-badge menu-icon" href="./YOU_LOVE_Winner.php"> ผู้ชนะ</a></li>
                    <li><a class="icon-speedometer menu-icon" href="./YOU_LOVE_Team.php"> ทีมแข่งขัน</a></li>
                    <li><a class="icon-grid menu-icon" href="./YOU_LOVE_Store.php"> ร้านค้า</a></li>
                    <li><a class="icon-note menu-icon" href="./YOU_LOVE_Check.php"> ตรวจ</a></li>
                    <li><a class="icon-notebook menu-icon" href="./YOU_LOVE_Rules.php"> กติกา</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class='fas fa-gamepad' style='color:#f29d56'></i> <span class="nav-text">4 ห้องหัวใจ</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="icon-badge menu-icon" href="./HEART_Winner.php"> ผู้ชนะ</a></li>
                    <li><a class="icon-speedometer menu-icon" href="./HEART_Team.php"> ทีมแข่งขัน</a></li>
                    <li><a class="icon-grid menu-icon" href="./HEART_Store.php"> ร้านค้า</a></li>
                    <li><a class="icon-note menu-icon" href="./HEART_Check.php"> ตรวจ</a></li>
                    <li><a class="icon-notebook menu-icon" href="./HEART_Rules.php"> กติกา</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>